In [1]:
import pandas as pd

In [3]:
df_plant1 = pd.read_csv('plant1_cleaned_data.csv')
df_plant2 = pd.read_csv('plant2_cleaned_data.csv')

In [4]:
df_plant1

,DATE_TIME,SOURCE_KEY,DC_POWER,AC_POWER,DAILY_YIELD,TOTAL_YIELD,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
0,2020-05-15 00:00:00,1BY6WEcLGh8j5v7,0.0,0.0,0.000,6259559.0,25.184316,22.857507,0.0
1,2020-05-15 00:00:00,1IF53ai7Xc0U56Y,0.0,0.0,0.000,6183645.0,25.184316,22.857507,0.0
2,2020-05-15 00:00:00,3PZuoBAID5Wc2HD,0.0,0.0,0.000,6987759.0,25.184316,22.857507,0.0
3,2020-05-15 00:00:00,7JYdWkrLSPkdwr4,0.0,0.0,0.000,7602960.0,25.184316,22.857507,0.0
4,2020-05-15 00:00:00,McdE0feGgRqW7Ca,0.0,0.0,0.000,7158964.0,25.184316,22.857507,0.0
...,...,...,...,...,...,...,...,...,...
45675,2020-06-17 23:45:00,uHbuxQJl8lW7ozc,0.0,0.0,5967.000,7287002.0,21.909288,20.427972,0.0
45676,2020-06-17 23:45:00,wCURE6d3bPkepu2,0.0,0.0,5147.625,7028601.0,21.909288,20.427972,0.0
45677,2020-06-17 23:45:00,z9Y9gH1T5YWrNuG,0.0,0.0,5819.000,7251204.0,21.909288,20.427972,0.0
45678,2020-06-17 23:45:00,zBIq5rxdHJRwDNY,0.0,0.0,5817.000,6583369.0,21.909288,20.427972,0.0
45679,2020-06-17 23:45:00,zVJPv84UY57bAof,0.0,0.0,5910.000,7363272.0,21.909288,20.427972,0.0

In [6]:
# Convert the 'DATE_TIME' column to datetime format if it is not already
df_plant1['DATE_TIME'] = pd.to_datetime(df_plant1['DATE_TIME'])
df_plant2['DATE_TIME'] = pd.to_datetime(df_plant2['DATE_TIME'])

# Extract the day and create a new 'DAY' column
df_plant1['DAY'] = df_plant1['DATE_TIME'].dt.day
df_plant2['DAY'] = df_plant2['DATE_TIME'].dt.day

# Save back to CSV or proceed with further processing
df_plant1.to_csv("plant1_cleaned_data_with_day.csv", index=False)
df_plant2.to_csv("plant2_cleaned_data_with_day.csv", index=False)